name: Build Wave Browser (WiiU)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y curl make

      - name: Build Wave Browser
        run: |
          make clean
          make

      - name: Upload RPX Artifact
        uses: actions/upload-artifact@v6
        with:
          name: wave_browser-rpx
          path: build/wave_browser.rpx
