name: Build Wave Browser (WiiU)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: devkitpro/devkitppc:latest

    env:
      DEVKITPRO: /opt/devkitpro
      DEVKITPPC: /opt/devkitpro/devkitPPC

    steps:
      - uses: actions/checkout@v4

      - name: Show repo contents
        run: |
          pwd
          ls -R

      - name: Create build folder
        run: mkdir -p build

      - name: Build Wave Browser
        run: make

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: wave-browser-build
          path: build/*.rpx
