name: Build Wave Browser (WiiU)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build WUHB
        run: |
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=$DEVKITPRO/devkitPPC
          export PATH=$DEVKITPPC/bin:$DEVKITPRO/tools/bin:$PATH

          make clean
          make

      - name: Upload WUHB
        uses: actions/upload-artifact@v7.0.0
        with:
          name: wave_browser_wuhb
          path: build/wave_browser.wuhb
