name: Build Wave Browser (WiiU)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=$DEVKITPRO/devkitPPC
          export PATH=$DEVKITPPC/bin:$DEVKITPRO/tools/bin:$PATH

          make clean
          make

          # Create proper Aroma folder structure
          mkdir -p release/WaveBrowser
          cp build/wave_browser.rpx release/WaveBrowser/wave_browser.wuhb

          # Zip manually so folder is preserved
          cd release
          zip -r WaveBrowser.zip WaveBrowser

      - name: Upload Release Zip
        uses: actions/upload-artifact@v7.0.0
        with:
          name: WaveBrowser
          path: release/WaveBrowser.zip
