name: Build Wave Browser (WiiU)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          make clean
          make

      - name: Upload RPX
        uses: actions/upload-artifact@v4
        with:
          name: wave_browser
          path: build/wave_browser.rpx
