name: Build Wii U

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up devkitPro
      run: |
        sudo apt update
        sudo apt install -y git make cmake
        git clone https://github.com/devkitPro/pacman.git /opt/pacman
        export PATH=/opt/pacman/bin:$PATH
        sudo pacman -Sy --noconfirm devkitPPC wut portlibs-wiiu

    - name: Build
      env:
        DEVKITPRO: /opt/devkitpro
        DEVKITPPC: /opt/devkitpro/devkitPPC
      run: |
        make clean
        make all
