name: Build Wave Browser (WiiU)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc
    env:
      DEVKITPRO: /opt/devkitpro
      DEVKITPPC: /opt/devkitpro/devkitPPC
      PATH: /opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin:${PATH}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Ensure build tools
        run: |
          echo "DEVKITPRO: $DEVKITPRO"
          echo "DEVKITPPC: $DEVKITPPC"
          which powerpc-eabi-gcc

      - name: Build RPX
        shell: bash
        run: |
          make clean
          make

      - name: Check meta.xml
        run: |
          if [ ! -f meta.xml ]; then
            echo "meta.xml missing!" && exit 1
          fi

      - name: Convert RPX to WUHB
        shell: bash
        run: |
          wuhbtool build/wave_browser.rpx build/wave_browser.wuhb

      - name: Prepare Aroma folder
        shell: bash
        run: |
          mkdir -p release/WaveBrowser
          cp build/wave_browser.wuhb release/WaveBrowser/
          cp meta.xml release/WaveBrowser/

      - name: Zip WaveBrowser
        shell: bash
        run: |
          cd release
          zip -r WaveBrowser.zip WaveBrowser

      - name: Upload WUHB package
        uses: actions/upload-artifact@v7.0.0
        with:
          name: WaveBrowser
          path: release/WaveBrowser.zip
