name: Build Wave Browser (WiiU)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git make cmake curl libcurl4-openssl-dev

    - name: Setup devkitPPC & WUT 49.1
      run: |
        mkdir -p $HOME/devkitpro
        cd $HOME/devkitpro
        wget https://github.com/devkitPro/buildscripts/releases/download/devkitPPC-49.1/devkitPPC-49.1-linux.tar.bz2
        tar -xjf devkitPPC-49.1-linux.tar.bz2
        wget https://github.com/devkitPro/buildscripts/releases/download/wut-49.1/wut-49.1-linux.tar.bz2
        tar -xjf wut-49.1-linux.tar.bz2

    - name: Add devkitPro to PATH
      run: echo "$HOME/devkitpro/devkitPPC/bin:$HOME/devkitpro/wut/bin:$PATH" >> $GITHUB_ENV

    - name: Build Project
      run: make

    - name: Upload RPX Artifact
      uses: actions/upload-artifact@v3
      with:
        name: wave_browser_rpx
        path: wave_browser.rpx
