name: Build Wave Browser (WiiU)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build RPX
        env:
          DEVKITPRO: /opt/devkitpro
          DEVKITPPC: /opt/devkitpro/devkitPPC
          PATH: /opt/devkitpro/devkitPPC/bin:/opt/devkitpro/tools/bin:${PATH}
        run: |
          make clean
          make

      - name: Convert to WUHB
        run: |
          if [ ! -f meta.xml ]; then
            echo "meta.xml missing!" && exit 1
          fi
          
          mkdir -p build/WaveBrowser
          wuhbtool build/wave_browser.rpx build/WaveBrowser/wave_browser.wuhb

      - name: Package for Aroma
        run: |
          cd build
          zip -r WaveBrowser.zip WaveBrowser
          cd ..
        
      - name: Upload WUHB Package
        uses: actions/upload-artifact@v7.0.0
        with:
          name: WaveBrowser
          path: build/WaveBrowser.zip
