name: Build Wave Browser (WiiU)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build WUHB
        run: |
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=$DEVKITPRO/devkitPPC
          export PATH=$DEVKITPPC/bin:$DEVKITPRO/tools/bin:$PATH

          make clean
          make

          # Create folder for Aroma and move .rpx into it as .wuhb
          mkdir -p build/WaveBrowser
          mv build/wave_browser.rpx build/WaveBrowser/wave_browser.wuhb

      - name: Upload WUHB
        uses: actions/upload-artifact@v7.0.0
        with:
          name: wave_browser_wuhb
          # Use **build/** here so the zip keeps WaveBrowser folder
          path: build/WaveBrowser
          # Include the folder itself in the zip
          if-no-files-found: error
