name: Build Wave Browser (WiiU)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-wiiu:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkitppc:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Build Wave Browser
        run: |
          make clean
          make

      - name: Upload RPX artifact
        uses: actions/upload-artifact@v6
        with:
          name: wave_browser-rpx
          path: build/wave_browser.rpx
